bots/*
!bots/README.md
logs/*
!logs/README.md
main/deploy/datastores/*
!main/deploy/datastores/README.md
main/deploy/games/*
!main/deploy/games/README.md
main/deploy/updates/*
!main/deploy/updates/README.md
node_modules/
packagehash.txt
test.js