bots/*
!bots/README.txt

datastores/*
!datastores/README.txt

ffmpeg-binary/

logs/*
!logs/README.txt

main/plugins/ytmp3/musics/*
!main/plugins/ytmp3/musics/README.txt

node_modules/
packagehash.txt
