bots/*
!bots/README.txt

logs/*
!logs/README.txt

main/deploy/datastores/*
!main/deploy/datastores/README.txt

main/deploy/games/*
!main/deploy/games/README.txt

main/deploy/plugins/*
!main/deploy/plugins/internal
!main/deploy/plugins/README.txt

main/deploy/updates/*
!main/deploy/updates/README.txt

node_modules/

packagehash.txt

test.js
